<!DOCTYPE html>
<html lang="{{ language.language_code }}">
<head>
  <meta charset="utf-8">
  <title>{{ head_title|safe_join(' | ') }}</title>
  {{ head }}
  {{ styles }}
  {{ scripts }}
</head>
<body>

  <header class="site-header">
    <div class="header-container">
        {% if page.header %}
            {{ page.header }}
        {% endif %}
    </div>
  </header>

    {% if page.slider %}
      <div id="slider" class="region-slider">
        {{ page.slider }}
      </div>
    {% endif %}

    <div class="content bg-white">
      {{ page.content }}
    </div>

  <footer>
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
  </footer>

  {{ page.scripts }}

</body>
</html>
