<!DOCTYPE html>
<html lang="{{ language.language_code }}">
<head>
  <meta charset="utf-8">
  <title>{{ head_title|safe_join(' | ') }}</title>
  {{ head }}
  {{ styles }}
  {{ scripts }}
</head>
<body>

  <header class="site-header">
    <div class="header-container">
        {% if page.header %}
            {{ page.header }}  {# This will load blocks assigned to the "header" region #}
        {% else %}
            <p>No blocks found in header region.</p>
        {% endif %}
    </div>
  </header>

  {% if page.slider %}
    <div id="slider" class="hero">
      {{ page.slider }}
    </div>
  {% endif %}

  <main class="content">
    {{ page.content }}
  </main>


  <footer>
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
  </footer>

  {{ page.scripts }}

</body>
</html>