<!DOCTYPE html>
<html lang="{{ language.language_code }}">
<head>
  <meta charset="utf-8">
  <title>{{ head_title|safe_join(' | ') }}</title>
  {{ head }}
  {{ styles }}
  {{ scripts }}
</head>
<body>

  <header id="header" class="site-header container-fluid w-full">
    <div class="header-container">
        {% if page.header %}
            {{ page.header }}
        {% endif %}
    </div>
  </header>

    {% if page.slider %}
      <div id="slider"  class="region-slider container-fluid w-full">
        {{ page.slider }}
      </div>
    {% endif %}

    <div id="content" class="w-full max-w-full px-0"> 
      {{ page.content }}
    </div>

  <footer id="footer" class="container-fluid w-full">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
  </footer>

  {{ page.scripts }}

</body>
</html>
